@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.hero {
  background-image: url(https://images.pexels.com/photos/1172207/pexels-photo-1172207.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.navbar {
  position: static;
  width: 100%;
  background-color: rgb(29, 30, 34);
  z-index: 100;
}

.navbar .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  border-bottom: 5px solid rgb(25, 167, 206);
}

.top-nav .logo {
  margin-left: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #ff9d00;
  height: 60px;
  display: flex;
  align-items: center;
}

.top-nav .logo::before {
  content: "<";
  margin-right: 5px;
  color: rgb(30, 30, 30);;
}

.top-nav .logo::after {
  content: "/>";
  margin-left: 5px;
  color: rgb(30, 30, 30);
}

.navbar-logo {
  display: none;
  margin-left: 20px;
  font-weight: bold;
  color: #ff9d00;
  font-size: 20px;
  color: #fff;
  transition: .2s ease-in;
}

.navbar-logo::before {
  content: "<";
  margin-right: 5px;
  color: #ff9d00;
}

.navbar-logo::after {
  content: "/>";
  margin-left: 5px;
  color: #ff9d00;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.nav-links li:hover {
  background-color: rgb(25, 167, 206);
}

.nav-links li:active {
  background-color: rgb(20, 108, 148);
}

.nav-links a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
}

.hero-area {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-text h1 {
  color: #fff;
  margin: 0;
  font-size: 40px;
}

.hero-text p {
  color: #ff9d00;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.hero-area .button {
  background-color: #ff9d00;
  width: 175px;
  height: 45px;
  border-radius: 10px;
  text-align: center;
  font-size: 25px;
  padding-top: 7px;
  margin-top: 10px;
}

.hero-area .button:hover {
  background-color: #ff8300;
}

.hero-area .button:active {
  background-color: #a9a9a9;
  color: #222;
}

.hero-area a {
  text-decoration: none;
  color: #222;
}

@media only screen and (max-width: 576px) {
  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
  }
  .hero-text h1 {
    text-align: center;
  }
}

/* Socials */
.socials {
  background-color: rgba(29, 30, 34, 0.6);
  border-radius: 10px 0px 0px 10px;
  padding: 10px;
  position: fixed;
  top: 50%;
  right: 0%;
}

.socials .icon-container {
  margin-bottom: 5px;
}

.socials .icon-container:last-child {
  margin-bottom: 0;
}

/* Section Default Styles */
.site-section {
  background-color: #222222;
  padding: 50px 0;
}
.site-section h2 {
  color: #fff;
  text-align: center;
}

/* About */
#about-me p {
  color: #fff;
}

.about-me--container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90vw;
  margin: 0 auto;
}

.about-me-image--container .about-me-image {
  border: 5px solid rgb(25, 167, 206);
  width: 150px;
  border-radius: 50%;
}

.about-me-content--container {
  width: 60%;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 576px) {
    .about-me--container {
      flex-direction: column;
    }
    .about-me-content--container {
      width: 85%;
    }
    .about-me-content--container .resume-btn {
      margin: auto;
      text-align: center;
    }
}

.resume-btn {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  background-color: #ff9d00; 
  color: #fff;
  margin: auto;
  padding: 1rem 2rem;
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
  transition: 0.15s ease-in;
}

.resume-btn:hover {
  background-color: #ff8300;
}

/* projects */
#projects {
  background-color: #fff;
}

#projects .title {
  color: #222;
}

.project--container {
  display: flex;
  justify-content: space-evenly;
  /* padding: 80px; */
}

@media only screen and (max-width: 1000px) {
  .project--container {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-card {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px grey;
  margin: 10px;
  padding: 10px;
  text-align: center;
  position: relative;
}

.project-card h3 {

  border-bottom: 3px solid rgb(25, 167, 206);
}

.project-image {
  width: 90%;
  margin: 25px auto 0;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
}

.project-link--container {
  position: absolute;
  width: 100%;
  right: 0%;
  bottom: 0%;
  color: #ff9d00;
  transition: 0.15s ease-in;
}

.project-link--container .subtext {
  font-size: 18px;
  font-weight: bold;
}

/* .project-card hr {
  margin: 0 20px;
  border: 1px solid #222;
} */

.project-link {
  text-decoration: none;
}

.project-link .project-link--container:hover {
  background-color: rgb(25, 167, 206);
  color: #fff;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    width: 37px;
    cursor: pointer;
    margin-right: 20px;
    transition: .2s ease;
    border-radius: 50%;
    padding: 7px;
  }

  .hamburger:hover {
    background-color: rgb(25, 167, 206);
  }

  .hamburger:active {
    background-color: rgb(20, 108, 148);
  }

  .nav-links {
    display: none;
  }
}

.dropdown-menu {
  background-color: rgb(29, 30, 34);
  position: absolute;
  width: 100%;
  text-align: center;
  display: none;
  z-index: 1;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li {
  font-size: 20px;
  height: 50px;
  display: flex;
  align-items: center;
}

.dropdown-menu ul li:hover {
  background-color: rgba(25, 167, 206, 0.75);
}

.dropdown-menu ul li:active {
  background-color: rgba(20, 108, 148, 0.75);
}

.dropdown-menu ul li a {
  display: inline-block;
  width: 100%;
  color: #fff;
  text-decoration: none;
}

.dropdown-menu.active {
  display: block;
}